/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* My code here. */

nav {
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: space-between;
    color: gray;

}

.header-container {
    display: flex;
    justify-content: center;
    
}

.services {
    margin: 20px;
    padding: 20px;

}

.container {
    border: 1px solid black;
    background: rgb(235, 233, 233);
    margin: 20px;
    padding: 20px;
    height: 200px;
    width: 420px;
}

.outer-container {
    display: flex;
    justify-content: space-betweem;
}

.outer-container2 {
    display: flex;
    justify-content: space-betweem;
    padding: 40px;
}

.button {
    border: 1px solid black;
    padding: 5px;
    background: white;
    width: 150px;
    text-align: center;
}

hr {
    color: gray;
    width: 90%;
}

.copy {
    display: flex;
    justify-content: center;
}